.container {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
  top: 0;
}

.modal_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 80px;
  width: 70%;
  max-width: 85%;
  background-color: #fff;
  justify-content: center;
  min-width: 400px;
}

.nav_container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  margin: 0 0 40px;
  width: 100%;
  height: 90px;
  align-items: center;
  background-color: rgb(103, 71, 196, 1);
}

.nav_container h1 {
  text-align: center;
  padding-left: 30px;
}

.user_fonts {
  font-family: var(--user_font_family);
  color: var(--user_color);
  font-weight: 700;
  filter: brightness(1.2);
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container input {
  width: 60%;
  padding: 24px;
  margin-bottom: 20px;
  background-color: #e6e6e6;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  min-width: 300px;
}
.container select {
  max-width: 610px;
  width: 66.7%;
  padding: 24px;
  background-color: #e6e6e6;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  font-family: var(--font_primary_family);
  font-weight: 600;
  min-width: 350px;
  margin-bottom: 10px;
  cursor: pointer;
}

#close_tab {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  border-radius: unset;
  width: 40px;
  padding: 5px 0 5px 0;
  font-weight: 700;
  margin-top: 0px;
  min-width: unset;
}

.container .payment_btn, .container button{
  width: 50%;
  padding: 24px;
  font-weight: 700;
  background-color: rgb(103, 71, 196, 1);
  min-width: 350px;
  color: #fff;
  border-radius: 5px;
  margin: 12px 0 84px;
  cursor: pointer;
  font-size: 1em;
  border: none;
  transition: filter 0.2s;
}





button:hover, .payment_btn:hover {
  filter: brightness(0.9);
}

/* Break point */

@media screen and (max-width: 500px) {
  .modal_container {
    max-width: unset;
    width: 100%;
    min-width: 360px;
    justify-content: unset;
    border: solid black px;
  }
}
